* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}

body {
  background: #F3F3F3;
}

.navbar {
  background-color: #f5f4f4;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0px 1px 6px 0px #00000014;

  padding: 0 42px;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sc-flag {
  height: 70px;
}

.city-logo {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 230px;
  white-space: normal;
  margin: 0;
  padding: 20px 0;
}

.navbar-collapse {
  justify-content: end;
}

.back-main-content {  
  padding: 0
}